body {
  box-sizing: border-box;
  border: 10px dashed red;
}

.main-page {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border: 1px solid lightgrey;
}

.order-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 5px;
}

.order-form > input {
  margin-bottom: 5px;
  max-width: 400px;
}

.order-form > button {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px 10px 20px 10px;
  height: 30px;
  font-weight: bold;
  background-color: white;
  border-radius: 120% 30% / 30% 40%;
  border: 2px solid;
  border-color:#8bc53f  #f3793b #ffdd15 #26a9e0;
}



.order-form > button:hover {
  box-sizing: border-box;
  background-color: white;
  border: 5px solid;
  border-color:#26a9e0 #8bc53f  #f3793b #ffdd15;
}


.daniilloban-autocomlete-list {
  position: absolute;
  background-color: white;
  z-index: 10;
}

.daniilloban-autocomlete-list ul:empty{
  display: none;
}

.daniilloban-autocomlete-list ul {
  width: max-content;
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0;
}

.daniilloban-autocomlete-list > ul > li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.daniilloban-autocomlete-list ul li:hover {
  background-color: #ffdd15;
  cursor: pointer;
}

.autocomplete-active {
  background-color: #ffdd15;
}

.daniilloban-autocomlete-list ul li span:first-child {
  padding-left: 5px;
}
.daniilloban-autocomlete-list ul li span:nth-child(2) {
  padding-right: 5px;
  padding-left: 10px;
  align-self: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #666;
}

.timer {
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 3px solid #ddd;
}

.timer p{
  font-size: 1.5em;
  color: #666;
  text-align: center;
}

.timer .buttons {
  display: flex;
  justify-content: space-between;
}

@keyframes loading {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}

.loadable[for=daniilloban-seach-input]{
  position: relative;
}

.loadable .loading[data-isloading=true] {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 5px 5px 0 0;
  right: 0px;
}

.loadable .loading[data-isloading=true]:before {
  position: absolute;
  display: block;
  content: "";
  z-index: 12;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFF;
}

.loadable .loading[data-isloading=true]:after {
  position: absolute;
  display: block;
  content: "";
  z-index: 11;
  width: 12px;
  height: 12px;
  border-radius: 200px 0 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0, #459ad7 50%, #459ad7 100%);
  animation: loading 0.5s linear infinite;
}
