<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="amasty_daniilloban" frontName="daniilloban">
            <module name="Amasty_SecondDaniilLoban" />
        </route>
    </router>
</config>