<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="amasty_daniilloban_product_added">
        <observer name="product_added" instance="Amasty\SecondDaniilLoban\Observer\ProductAddedObserver" />
    </event>
</config>